@media (max-width: 375px ) {
    #bottone{
        margin-top: 3rem;
        margin-right: 0 !important;
        width: 150px;
        display: flex;
        align-items: center;
        text-align: center;
    }
}
@media (min-width: 376px) and (max-width: 991px ) {
    #bottone{
        margin-top: 20px;
    }
}